<section class="display-container">
	<nav>
		<ul class="side-nav">
			<li routerLink="/home" routerLinkActive="active" (click)="handleLinkClick($event)" class="side-nav-link" ><i class="fa fa-home"></i><span class="side-nav-link-text"> Home</span></li>
			<li routerLink="/search" class="side-nav-link" routerLinkActive="active" (click)="handleLinkClick($event)"> <i class="fa fa-search"></i><span class="side-nav-link-text"> Search</span></li>
			<li routerLink="/profile" class="side-nav-link" routerLinkActive="active" (click)="handleLinkClick($event)"> <i class="fa fa-user-circle" ></i><span class="side-nav-link-text"> Profile</span></li>
			<li routerLink="/university"  (click)="handleLinkClick($event)" class="side-nav-link" routerLinkActive="active"> <i class="fa fa-university"></i><span class="side-nav-link-text"> Universities 
				
			</span> </li>
			<li routerLink="/help" class="side-nav-link" (click)="handleLinkClick($event)" routerLinkActive="active"> <i class="fa fa-plus-square"></i><span class="side-nav-link-text"> Help</span></li>
		</ul>
	</nav> 
	<article class="content">
		<router-outlet></router-outlet>
	</article>
	<aside class="asideblock">
		<div class = "asideblock-div">
			<app-card-component></app-card-component>
		</div>
	</aside>
</section>
	<footer  id="contactUs">
		<ul class="footer-menu">
			<li class="footer-menu-item">
				<ul class="footer sub-menu">
					<li class="fa fa-facebook sub-menu-item"> Facebook</li>
					<li class="fa fa-twitter sub-menu-item"> Twitter</li>
					<li class="fa fa-instagram sub-menu-item"> Instagram</li>
				</ul>
			</li>
			<li class="footer-menu-item">
				<ul class="footer sub-menu">
					<li class="fa fa-facebook sub-menu-item"> Facebook</li>
					<li class="fa fa-twitter sub-menu-item"> Twitter</li>
					<li class="fa fa-instagram sub-menu-item"> Instagram</li>
				</ul>
			</li>
			<li class="footer-menu-item">
				<ul class="footer sub-menu">
					<li class="fa fa-facebook sub-menu-item"> Facebook</li>
					<li class="fa fa-twitter sub-menu-item"> Twitter</li>
					<li class="fa fa-instagram sub-menu-item"> Instagram</li>
				</ul>
			</li>
			<li class="footer-menu-item">
				<input type="" name="">
			</li>
		</ul>
	</footer>

