
<!--  Card layout -->
<!-- <div class="card">
  <img src="../../assets/img_avatar2.png" alt="John" style="width:100%" class="img-rounded">
  <div class="row">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button routerLink='/university'>Explore More ...</button></p>
    
  </div>
</div> -->

<!--  flip card layout -->
<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../../assets/img_avatar2.png" alt="Avatar" class="flip-card-front-img">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/img_avatar2.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>