
.profile-container-div {
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 8px;
	@media screen and (max-width: 720px) {
		width: 100%;
		padding: 0px;
	}
	&.div-1 {
		background-color: #F3D250;
	}

/* 	&.div-1:hover {
		button{
			border-radius: 12px;
		    background-color: burlywood;
		    margin-bottom: 10px;
	    	padding: 8px;
			display: block;
		}
	} */

	&.div-2 {
		background-color: #90CCF4;
	}

	&.div-3 {
		background-color: #F78888;
	}

	button {
		border-radius: 50px;
	    background-color: #f8f8f8;
	    margin-bottom: 10px;
	    padding: 8px;
	    display: block;
	    float: right;
	    box-shadow: 2px 2px 2px rgb(0,0,0,.5);
	    transition: all .5s ease;
	    border: transparent;
	}
}

.profile-container-div:hover {
	transform: scale(1.07);
	transition : all .5s ease;
}
